*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    font-size: 35px;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    border-bottom: 3px double gray;
}
/*.info{
    font-size: 30px;
}*/

.info_title h3{
    font-size: 25px;
}

.info_tittle p{
    font-size: 18px;
}